.bundle
.config
*.gem
*.rbc
/_yardoc/
/.bundle/
/.yardoc
/coverage/
/doc/
/Gemfile.lock
/pkg/
/spec/reports/
/tmp/
coverage
doc/
Gemfile.lock
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/bundle
